<app-home></app-home>
<div class="email-container">
  <table>
    <tr style="background-color: #D9D9D9">
      <td>from</td>
      <td>subject</td>
      <td>date</td>
    </tr>
    <tr *ngFor="let email of EMAILS | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
      <td>{{email.fromWho}}</td>
      <td>{{email.subject}}</td>
      <td>{{email.date}}</td>
      <td (click)="deleteEmail(email)"><img src="assets/img/trash.svg" width="25" height="25" alt="Text"></td>
    </tr>
  </table>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
