<app-home></app-home>
<div class="email-container">
  <div class="tool-container">
    <button class="tool-btn" (click)="reload=true; getPosts();"><img src="assets/img/reload.svg" width="25" height="25" style="filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);" alt="Text"></button>
    <button class="tool-btn" (click)="deleteEmail(null, true)"><img src="assets/img/trash.svg" width="25" height="25" style="filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);" alt="Text"></button>
    <select class="tool-btn" [(ngModel)]="sort" (ngModelChange)="sortEmails()">
      <option value="" disabled selected hidden>Sort By</option>
      <option value="dateNew">Newest to Oldest</option>
      <option value="dateOld">Oldest to Newest</option>
      <option value="priority">Priority</option>
      <option value="sender">Sender (A-z)</option>
      <option value="subject">Subject (A-z)</option>
      <option value="body">Body (A-z)</option>
    </select>
    <input class="tool-txt" type="text" placeholder="search" [(ngModel)]="key" (ngModelChange)="search(key)">
    <select class="tool-btn" [(ngModel)]="criteria">
      <option value="" disabled selected hidden>Filter By</option>
      <option value="sender">Sender</option>
      <option value="receiver">Receiver</option>
      <option value="subject">Subject</option>
    </select>
    <input class="tool-txt" type="text" placeholder="filter" [(ngModel)]="filterKey" (ngModelChange)="filterEmails(filterKey)">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
  <table>
    <tr style="background-color: #D9D9D9">
      <td></td>
      <td>name</td>
      <td>from</td>
      <td>To</td>
      <td>subject</td>
      <td>date</td>
    </tr>
    <tr *ngFor="let email of EMAILS | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
      <td><input type="checkbox" (change)="selectEmail(email, $event)"></td>
      <td (click)="popUp(email)">{{email.name}}</td>
      <td (click)="popUp(email)">{{email.fromWho}}</td>
      <td (click)="popUp(email)">{{email.toWho}}</td>
      <td (click)="popUp(email)">{{email.subject}}</td>
      <td (click)="popUp(email)">{{email.date}}</td>
      <td (click)="deleteEmail(email, false)" class="delete-btn"><img src="assets/img/trash.svg" width="25" height="25" alt="Text"></td>
    </tr>
  </table>
  <div id="light" class="white_content">
    <div><span style="font-weight: bolder">From: </span> {{email.fromWho}}</div>
    <br>
    <div><span style="font-weight: bolder">To: </span> {{email.toWho}}</div>
    <br>
    <div><span style="font-weight: bolder">Date: </span> {{email.date}}</div>
    <br>
    <div><span style="font-weight: bolder">Subject: </span> {{email.subject}}</div>
    <br>
    <div style="font-weight: bolder">Body: </div>
    <br>
    <div style="overflow: auto">{{email.body}}</div>
    <br>
    <table>
      <tr *ngFor="let attachment of attachments">
        <td>{{attachment.name}}</td>
        <td (click)="downloadAttachment(attachment)"><img src="assets/img/download.svg" width="25" height="25" alt="Text"></td>
      </tr>
    </table>
  </div>
  <div id="fade" class="black_overlay" (click)="close()"></div>
</div>
