<app-home></app-home>
<div class="email-container">
  <div class="tool-container">
    <button class="tool-btn" (click)="reload=true; getPosts();"><img src="assets/img/reload.svg" width="25" height="25" style="filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);" alt="Text"></button>
    <select class="tool-btn">
      <option value="dateOtoN">Newest to Oldest</option>
      <option value="dateNtoO">Oldest to Newest</option>
      <option value="sender">Sender (a-z)</option>
      <option value="subject">Subject (a-z)</option>
    </select>
    <input class="tool-txt" type="text" placeholder="search">
  </div>
  <table>
    <tr style="background-color: #D9D9D9">
      <td>from</td>
      <td>subject</td>
      <td>date</td>
    </tr>
    <tr *ngFor="let email of EMAILS | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
      <td>{{email.fromWho}}</td>
      <td>{{email.subject}}</td>
      <td>{{email.date}}</td>
      <td (click)="deleteEmail(email)" class="delete-btn"><img src="assets/img/trash.svg" width="25" height="25" alt="Text"></td>
    </tr>
  </table>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
