<app-home></app-home>
<div class="email-container">
  <form #emailCompose ="ngForm" class="form-compose" (ngSubmit)="sendEmail()">
    <div class="input-compose">
      <label>To</label>
      <table style="margin-bottom: 1%">
        <tr *ngFor="let receiver of receivers">
          <td style="border: none; text-align: left">{{receiver}}</td>
          <td class="delete-btn" (click)="removeReceiver(receiver)"><img src="assets/img/trash.svg" width="25" height="25" alt="Text"></td>
        </tr>
      </table>
      <input type="text" placeholder="To" class="text-box-compose" (keyup.enter)="appendReceiver()" [(ngModel)]="to" name="to">
    </div>
    <div class="input-compose">
      <label>Subject</label>
      <input type="text" placeholder="Subject" class="text-box-compose" [(ngModel)]="subject" name="subject" #subjectInput="ngModel" required>
      <div class="error" *ngIf="subjectInput.invalid && subjectInput.touched">*this field is required</div>
    </div>
    <div class="input-compose">
      <label>Body</label>
      <textarea placeholder="body" class="text-area-compose" [(ngModel)]="body" name="body" #bodyInput="ngModel" required></textarea>
      <div class="error" *ngIf="bodyInput.invalid && bodyInput.touched">*this field is required</div>
    </div>
    <select class="tool-btn" [(ngModel)]="priority" name="priority" required>
      <option value="0" disabled selected hidden>Priority</option>
      <option value="1">Urgent</option>
      <option value="2">Work</option>
      <option value="3">Personal</option>
      <option value="4">Advertisement</option>
    </select>
    <div style="text-align: right">
      <button type="submit" class="send-btn" [disabled]="emailCompose.invalid || (receivers!.length == 0)">Send!</button>
    </div>
  </form>
  <div style="padding: 2%; text-align: right">
  <button class="send-btn" (click)="saveDraft()">Save draft!</button>
  </div>
  <div class="input-compose">
    <table style="margin-bottom: 1%">
      <tr *ngFor="let file of files">
        <td style="border: none; text-align: left">{{file}}</td>
      </tr>
    </table>
    <input type="file" class="file-input"
           (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload" style="font-size: 18px">
      {{fileName || "No file uploaded yet."}}
      <button class="send-btn"
              (click)="fileUpload.click()">
        attach_file
      </button>
    </div>
  </div>
</div>
