<app-home></app-home>
<div class="email-container">
  <form #emailCompose ="ngForm" class="form-compose">
    <div class="input-compose">
      <table class="scrollable-table">
        <tr *ngFor="let receiver of receivers">
          <td style="border: none; text-align: left">{{receiver}}</td>
          <td class="delete-btn" (click)="removeReceiver(receiver)"><img src="assets/img/trash.svg" width="20" height="20" alt="Text"></td>
        </tr>
      </table>
      <label>To</label>
      <input type="text" placeholder="To" class="text-box-compose" (keyup.enter)="appendReceiver()" [(ngModel)]="to" name="to">
    </div>
    <div class="input-compose">
      <label>Subject</label>
      <input type="text" placeholder="Subject" class="text-box-compose" [(ngModel)]="subject" name="subject" #subjectInput="ngModel" required>
      <div class="error" *ngIf="subjectInput.invalid && subjectInput.touched">*this field is required</div>
    </div>
    <div class="input-compose">
      <label>Body</label>
      <textarea placeholder="body" class="text-area-compose" [(ngModel)]="body" name="body" #bodyInput="ngModel" required></textarea>
      <div class="error" *ngIf="bodyInput.invalid && bodyInput.touched">*this field is required</div>
    </div>
  </form>
  <div style="display: flex; flex-direction: column; text-align: left; margin: 1%">
    <table class="scrollable-table">
      <tr *ngFor="let file of files">
        <td style="border: none; text-align: left">{{file}}</td>
        <td class="delete-btn" (click)="removeFile(file)"><img src="assets/img/trash.svg" width="20" height="20" alt="Text"></td>
      </tr>
    </table>
    <div class="file-upload" style="margin: 1%">
      {{fileName || "No file uploaded yet."}}
      <button class="send-btn" (click)="fileUpload.click()">attach_file</button>
    </div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
  </div>
  <div style="display: flex; margin: 1%">
    <select class="send-btn" [(ngModel)]="priority" name="priority" required>
      <option value="0" disabled selected hidden>Priority</option>
      <option value="1">Urgent</option>
      <option value="2">Work</option>
      <option value="3">Personal</option>
      <option value="4">Advertisement</option>
    </select>
    <button type="submit" class="send-btn" [disabled]="emailCompose.invalid || (receivers!.length == 0)" (click)="sendEmail()">Send!</button>
    <button class="send-btn" (click)="saveDraft()">Save draft!</button>
  </div>
</div>
