*{
  font-family: sans-serif;
  font-size: 16px;
  transition: all 0.2s;
}
button{
  cursor: pointer;
}

a{
  cursor: pointer;
}

body{
  background-image: url("assets/img/wallpaper1.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 1%;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.header-title{
  margin: 1%;
  color: #454545;
  display: inline-block;
  font-size: 100px;
}

.header-title-side{
  margin: 1%;
  color: #454545;
  display: inline-block;
  font-size: 50px;
}

.container{
  width: 25%;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 20px #454545;
  border: none;
  border-radius: 20px;
  animation: FadeIn 0.4s ease-in-out forwards;
}

.title{
  font-size: 48px;
  margin: 3%;
  color: #454545;
}

.form{
  display: inline-block;
  width: 70%;
  text-align: center;
}

label{
  margin: 3%;
  color: #454545;
  font-weight: bold;
}

.input{
  margin: 7% 0;
  padding: 0;
  text-align: left;
}

.text-box{
  width:89.4%;
  padding: 5%;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.error{
  margin: 0 3%;
  font-size: 12px;
  color: #B9B9B9;
}

.submit{
  width: 40%;
  aspect-ratio: 3;
  background-color: #2e52c4;
  color: white;
  border: 1px solid #2e52c4;
  border-radius: 10px;
}

.submit:hover{
  background-color: rgba(46, 82, 196, 0.75);
}

.submit:active{
  background-color: rgba(46, 82, 196, 0.5);
}

.submit:disabled{
  border-color: #B9B9B9;
  background-color: #B9B9B9;
}

.create{
  padding: 3%;
  background-color: transparent;
  color: #2e52c4;
  border: none;
  border-radius: 10px;
}

.create:hover{
  background-color: rgba(217, 217, 217, 0.5);
}

.create:active{
  background-color: rgba(185, 185, 185, 0.5);
}

.side-bar{
  width: 15%;
  height: 98%;
  position: absolute;
  left: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  animation: FadeIn 0.2s ease-in-out forwards;

}

.folder-btn{
  width: 90%;
  aspect-ratio: 5.5;
  text-align: left;
  margin: 3%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}

.folder-btn:hover{
  background-color: rgba(185, 185, 185, 0.5);
}

.folder-btn:active{
  background-color: rgba(153, 153, 153, 0.5);
}

.folder-btn > img,
.folder-btn > img{
  vertical-align: middle;
}

.email-container{
  position: absolute;
  left: 18%;
  top: 5%;
  width: 75%;
  padding: 1%;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 20px #454545;
  animation: FadeIn 0.2s ease-in-out forwards;
}

table{
  width: 100%;
  padding: 1%;
  border-radius: 10px;
  overflow-y: scroll;
}

.input-to-table{
  margin-bottom: 2%;
  padding-top: 0;
  padding-right: 5%;
  padding-left: 5%;
  height: 100px;
  text-align: left;
  overflow-y: scroll;
}

td {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 10px;
  text-align: center;
  border-radius: 10px;

}

tr{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

tr:hover{
  background-color: #D9D9D9;
}

tr:active{
  background-color: #B9B9B9;
}

.delete-btn{
  width: 10%;
}

.delete-btn:hover{
  background-color: rgba(46, 82, 196, 0.75);
}

.delete-btn:active{
  background-color: rgba(46, 82, 196, 0.5);
}

.form-compose{
  padding: 2%;
}

.input-compose{
  margin-bottom: 2%;
  padding-top: 0;
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
}

.text-box-compose{
  display: block;
  width: 80%;
  aspect-ratio: 25;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  padding-left: 1%;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.text-area-compose{
  display: block;
  width: 79.12%;
  padding: 1%;
  font-size: 20px;
  aspect-ratio: 9;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.send-btn{
  width: 10%;
  aspect-ratio: 3;
  background-color: #2e52c4;
  color: white;
  border: 1px solid #2e52c4;
  border-radius: 10px;
  font-size: 18px;
}

.attachment-name{
  height: 10%;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.send-btn:hover{
  background-color: rgba(46, 82, 196, 0.75);
}

.send-btn:active{
  background-color: rgba(46, 82, 196, 0.5);
}

.send-btn:disabled{
  border-color: #B9B9B9;
  background-color: #B9B9B9;
}

.file-input {
  display: none;
}

.tool-container{
  display: flex;
  padding: 0.5%;
  margin: 0.5%;
}

.tool-btn{
  padding: 1%;
  margin: 0.5%;
  color: white;
  background-color: rgba(46, 82, 196, 1);
  border: 1px solid rgba(46, 82, 196, 1);
  border-radius: 10px;
}

.tool-btn:hover{
  background-color: rgba(46, 82, 196, 0.75);
}

.tool-btn:active{
  background-color: rgba(46, 82, 196, 0.5);
}

.tool-txt{
  padding: 1%;
  margin: 0.5%;
  color: rgba(46, 82, 196, 1);
  background-color: white;
  border: 1px solid rgba(46, 82, 196, 1);
  border-radius: 10px;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  border-radius: 20px;
  animation: FadeIn 0.2s ease-in-out;
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  padding: 3%;
  background-color: white;
  font-size: 28px;
  text-align: left;
  z-index: 1002;
  overflow: auto;
  border-radius: 20px;
  animation: FadeIn 0.2s ease-in-out;
}
